  
    <div class="row">
        
        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center breaking-news bg-white">
                <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news" style="width: 170px;"><span class="d-flex align-items-center" style="font-weight: 700;">Breaking News</span></div>

                <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"> 
                      {{#each bnews}}
                      <a href="#"> {{breaking_title}} </a> <span class="dot"></span> 
                      {{/each}} 
                </marquee>
            </div>
        </div>

        <div class="col-md-3">
            <div class="weatherbox flex-fill py-2 justify-content-between align-items-center justify-content-center" style="background-image: linear-gradient(to left bottom, #ffe87c, #baed98, #82e9c1, #6ddee1, #87ceeb);;text-align:center;">
                  <span class="text-danger me-2" style="font-weight:600;font-family:'Droid Serif'">{{dateFormat now "dddd, MMM Do YYYY"}}  </span>
                  <span class="temp" style="font-weight:600;font-family:'Droid Serif'">-°C</span>
                  <div class="summary" style="display: none;" style="font-weight:600;font-family:'Droid Serif'"></div>
                  <span class="location" style="font-weight:600;font-family:'Droid Serif'"></span>
            </div>
        </div>

        <div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "",
      "proName": "NASDAQ:AAPL"
    },
    {
      "description": "",
      "proName": "NASDAQ:TSLA"
    },
    {
      "description": "",
      "proName": "NASDAQ:AMZN"
    },
    {
      "description": "",
      "proName": "NSE:RELIANCE"
    },
    {
      "description": "",
      "proName": "NSE:HDFCBANK"
    },
    {
      "description": "",
      "proName": "NASDAQ:META"
    },
    {
      "description": "",
      "proName": "NASDAQ:NVDA"
    },
    {
      "description": "",
      "proName": "NASDAQ:NFLX"
    },
    {
      "description": "",
      "proName": "NASDAQ:MSFT"
    },
    {
      "description": "",
      "proName": "NSE:TATASTEEL"
    },
    {
      "description": "",
      "proName": "NASDAQ:GOOG"
    },
    {
      "description": "",
      "proName": "NYSE:JPM"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "in"
}
  </script>
</div>

    </div>



  
  
  
  